.App {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.sidebar{
    width: 300px;
}

.infinity-menu-node-container {
    background-color: #aa77deb0;
    padding-top: 10px;
}

.infinity-menu-leaf-container {
    background-color: rgba(125, 192, 218, 0.5);
    padding-top: 5px;
}

.infinity-menu-display-tree-container>ul {
    padding-left: 0px;
}

.container {
    color:white;
}

.carousel.carousel-slider{
    max-height: calc(100vh - 120px);
}

.menuButton{
    padding: 0.5rem 1rem;
    float: left;
}

.react-infinity-menu-default-search-input {
    display: none;
}

.carouselText {
    font-size: 2rem;
    color:#4d0d61;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carouselText>h1 {
    font-size: 3rem;
}

.card {
    background-color: #1b3f5878;
    min-height: 435px;
    justify-content: space-between;
}

.cart-item-itg {
    width: 100%;
}

.card-img-top {
    height: calc(70vw/4);
}

table, th, td {
    padding: 5px;
    border: 1px solid white;
}